html, body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-height: 100vh;
    font-family: 'M PLUS 1p', sans-serif;
    margin: 0px;
    padding-top: 40px;
    margin-bottom: -10px;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
hr {
    margin-bottom: 30px;
}
.hidden {
    display: none;
    visibility: hidden;
}
.show {
    display: block;
    visibility: hidden;
}
.pageTitle {
    text-align: left;
}
/* Nav */
nav {
    position: fixed;
    top: 0;
    overflow: hidden;
    height: 50px;
    width: 100%;
}
.nav-title {
    float: left;
    display: inline-block;
    margin: 15px;
}
.nav-links {
    display: inline-block;
    float: left;
}
.nav-item {
    float: left;
    padding: 5px 15px 5px 15px;
}
.nav-item-seperator {
    float: left;
    height: 100%;
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    width: 80%;
    height: auto;
    margin: 0 auto 150px auto;
    border-radius: 20px;
}
.buttons {
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
}
.button-group {
    padding-right: auto;
    padding-left: auto;
    width: 90px;
    height: 120px;
}
.button-name {
    white-space: normal;
    word-wrap: break-word;
}
.smart-buttons {
    border-radius: 100px;
    padding: 20px;
    margin: 5px;
    width: 50px;
    height: 50px;
    font-size: 10px;
}
#login {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.login-form {
    text-align: center;
    padding: 20px;
    margin: 40px auto 40px auto;
    border-radius: 5px;
    width: 500px;
}
#create-account {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.form-section {
    margin: 15px;
}
#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px auto 10px auto;
    border-radius: 5px;
    padding: 15px;
}
#log_container {
    border-radius: 5px;
    padding: 15px;
}
#log_container>p {
    line-height: 30%;
}
#weather_container {
    border-radius: 5px;
    padding: 15px;
}
#settings-form {
    border-radius: 5px;
    padding: 15px;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5rem;
    margin-bottom: auto;
    margin-top: auto;
    padding: 15px;
}
