<div id="login">
    <form class="login-form"action="#" method="post">
        <h1>Login to your account</h1>
        <hr />
        <div class="form-section">
            <label for="username">Username</label>
            <input type="text" name="username" />
        </div>
        <div class="form-section">
            <label for="password">Password</label>
            <input type="password" name="password" />
        </div>
        <button class="buttons" type="submit">Login</button>
    </form>
</div>
