<div id="login">
        <form id="login_form" class="login-form"action="#" method="post">
            <h1>Login to your account</h1>
            <hr />
            <div class="form-section">
                <label for="username">Username</label>
                <input type="text" name="username" />
            </div>
            <div class="form-section">
                <label for="password">Password</label>
                <input type="password" name="password" />
            </div>
            <button class="buttons" type="submit">Login</button>
            <hr />
            <p>Don't have an account?</p>
            <a id="lLink" onclick="showCreateForm();">Click here.</a>
        </form>
        <form id="create_account_form" class="login-form hidden" action="#" method="post">
            <h1>Create an account</h1>
            <hr />
            <div class="form-section">
                  <label for="username">Username</label>
                  <input type="text" name="username" />
            </div>
            <div class="form-section">
                  <label for="username">E-Mail</label>
                  <p style="display:inline">(Optional)</p>
                  <input type="text" name="email" />
                  <!--<p style="display:inline;">Used for notifications</p>-->
            </div>
            <div class="form-section">
                  <label for="password">Password</label>
                  <input type="password" name="password" />
            </div>
            <div class="form-section">
                  <label for="password">Confirm Password</label>
                  <input type="password" name="password_confirm" />
            </div>
            <button class="buttons" type="submit">Login</button>
            <hr />
            <p>Already have an account?</p>
            <a id="cALink" onclick="showLoginForm();"> Click Here.</a>
        </form>
        <script src="/static/css/main.js"></script>
</div>
