<div id="menu"> 
    <div class="button-group">
        <a href="/img/tv_power">
            <button class="smart-buttons" type="submit" name="TV_Power" value="power1"></button>
        </a>
        <p class="button-name">TV</p>
    </div>
    <div class="button-group">
        <a href="/img/tv_led_toggle">
            <button class="smart-buttons" type="submit" name="TV_LED" value = "power2"></button>
        </a>
        <p>TV LED</p>
    </div>
    <div class="button-group">
        <a href="/img/tv_led_shuffle">
            <button class="smart-buttons" type="submit" name="TV_LED" value = "power2"></button>
        </a>
        <p>TV LED COLOUR</p>
    </div>
    <div class="button-group">
        <a href="/img/Misc_1">
            <button class="smart-buttons" type="submit" name="power3" value = "power3"></button>
        </a>
        <p>BED</p>
    </div>
    <div class="button-group">
        <a href="/img/Misc_2">
            <button class="smart-buttons" type="submit" name="Misc" value = "power3"></button>
        </a>
        <p>MEDIA</p>
    </div>
    <div class="button-group">
        <a href="/img/table_power_toggle">
            <button class="smart-buttons" type="submit" name="Table" value = "Table"></button>
        </a>
        <p>TABLE</p>
    </div>
    <div class="button-group">
        <a href="/img/Cube_power_toggle">
            <button class="smart-buttons" type="submit" name="Cube-Power" value = "Cube-Power"></button>
        </a>
        <p>CUBE</p>
    </div>
    <!-- <div class="button-group">
        <a href="home.html">
            <button type="submit" name="Home" value = "power1">
                <img src="/static/img/home_icon_480.png" />
            </button>
        </a> 
        <p>CUBE</p>
    </div> -->
</div>
