<div id="menu" class="menu"> 
    <div class="buttons">
    <a href="/tv_power"><button type="submit" class="smart-buttons"  name="TV_Power" value = "TV_Power">
    <img src="/static/img/blue_tv.png" /></button></a>
    </div>
    <div class="buttons">
    <a href="/tv_led_toggle"><button type="submit" class="smart-buttons"  name="TV_LED1" value = "TV_LED1">
    <img src="/static/img/blue_tv_led_toggle.png" /></button></a>
    </div>
    <div class="buttons">
    <a href="/tv_led_shuffle"><button type="submit" class="smart-buttons"  name="TV_LED2" value = "TV_LED2">
    <img src="/static/img/yellow_tv_led.png" /></button></a>
    </div>
    <div class="buttons">
    <a href="http://192.168.0.50:8080/video"><button type="submit" class="smart-buttons"  name="flippy" value = "flippy">
    <img src="/static/img/zflip3.png" /></button></a>
    </div>
    <div class="buttons">
    <a href="/get_weather"><button type="submit" class="smart-buttons"  name="weather" value = "weather">
    <img src="/static/img/weather.png"  /></button></a>
    </div>
    <div class="buttons">
    <a href="/get_temp"><button type="submit" class="smart-buttons"  name="grafana" value = "grafana">
    <img src="/static/img/grafana.png"  /></button></a>
    </div>
    <div class="buttons">
    <a href="http://192.168.0.234/admin/"><button type="submit" class="smart-buttons"  name="pihole" value = "pihole">
    <img src="/static/img/pihole.png"  /></button></a> 
    </div>
    <div class="buttons">
    <a href="/table_power_toggle"><button type="submit" class="smart-buttons"  name="Table" value = "Table">
    <img src="/static/img/table1.png"  /></button></a>
    </div>
    <div class="buttons">
    <a href="/Cube_power_toggle"><button type="submit" class="smart-buttons"  name="Cube-Power" value = "Cube-Power">
    <img src="/static/img/cube.png"  /></button></a>
    </div>
    <div class="buttons">
    <a href="http://192.168.0.227:8084"><button type="submit" class="smart-buttons"  name="car-park" value = "car-park">
    <img src="/static/img/honda.png"  /></button></a> 
    </div>
    <div class="buttons">
    <a href="http://192.168.0.217:8085"><button type="submit" class="smart-buttons"  name="front-door" value = "front-door">
    <img src="/static/img/camera.png"  /></button></a> 
    </div>
    <div class="buttons">
    <a href="http://192.168.0.234:9092"><button type="submit" class="smart-buttons"  name="transmission" value = "transmission">
    <img src="/static/img/utorrent.png"  /></button></a> 
    </div>
    <div class="buttons">
    <a href="/res_xrdp"><button type="submit" class="smart-buttons"  name="res_rdp" value = "res_rdp">
    <img src="/static/img/rdp.png"  /></button></a>    
    </div>
    
    <!--<div class="buttons">
    
        <a href="home.html">
            <button type="submit" class="smart-buttons"  name="Home" value = "power1">
                <img src="/static/img/blue_tv.png" />
            </button>
        </a> 
        <p>TV</p>
    </div>-->
</div>


<!-- class="smart-buttons" -->
