<div id="menu"> 
    <a class="smart-buttons" href="/img/tv_power">
        <button type="submit" name="TV_Power" value="power1">
            <img src="/static/img/blue_tv.png" />
        </button>
    </a>
    <a class="smart-buttons" href="/img/tv_led_toggle">
        <button type="submit" name="TV_LED" value = "power2">
            <img src="/static/img/blue_tv_led_toggle.png" />
        </button>
    </a>
    <a class="smart-buttons" href="/img/tv_led_shuffle">
        <button type="submit" name="TV_LED" value = "power2">
           <img src="/static/img/yellow_tv_led.png" />
        </button>
    </a>
    <a class="smart-buttons" href="/img/Misc_1">
        <button type="submit" name="power3" value = "power3">
            <img src="/static/img/blue_bed.png" />
        </button>
    </a>
    <a class="smart-buttons" href="/img/Misc_2">
        <button type="submit" name="Misc" value = "power3">
            <img src="/static/img/play.png" />
        </button>
    </a>
    <a class="smart-buttons" href="/img/table_power_toggle">
        <button type="submit" name="Table" value = "Table">
            <img src="/static/img/table1.png" />
        </button>
    </a>
    <a class="smart-buttons" href="/img/Cube_power_toggle">
        <button type="submit" name="Cube-Power" value = "Cube-Power">
            <img src="/static/img/cube.png" />
        </button>
    </a>
    <!-- <a href="home.html">
        <button type="submit" name="Home" value = "power1">
            <img src="/static/img/home_icon_480.png" />
        </button>
    </a> -->
</div>
