<nav>
    <h1 class="nav-title">Web Remote</h1>
    {% if current_user.is_authenticated %}
    <ul class="nav-links">
        <li class="nav-item nav-item-seperator">
            <a href="/">Dashboard</a>
        </li>
        <li class="nav-item nav-item-seperator">
            <a href="/devices">Devices</a>
        </li>
        <li class="nav-item nav-item-seperator">
            <a href="/settings">Settings</a>
        </li>
        <li class="nav-item">
            <a href="/logout">Logout</a>
        </li>
    </ul>
    {% else %}
    <ul class="nav-links">
        <li class="nav-item">
            <a href="https://github.com/zdssdavidb/Webremote">Documentation</a>
        </li>
    </ul>
    {% endif %}
</nav>
