<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <title>Web Remote (Flask)</title>
    </head>
    <body>
        {% include 'sections/nav.html' %}
        <div class="main-container">
            {% if current_user.is_authenticated %}
                {% include 'sections/weather_display.html' %}
                {% include 'sections/menu.html' %}
                {% include 'sections/log_display.html' %}
            {% else %}
                <h1>You are not logged in</h1>
                <a href="/login">Login</a>
            {% endif %}
        </div>
    </body>
</html>
