<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <link rel="stylesheet" href="/static/css/themes/{{ theme }}.css" />
        <title>Web Remote (Flask)</title>
    </head>
    <body>
        {% include 'sections/nav.html' %}
        <div id="login">
            <form id="login_form" class="login-form"action="#" method="post">
                <h1>Login to your account</h1>
                <hr />
                <div class="form-section">
                    <label for="username">Username</label>
                    <input type="text" name="username" />
                </div>
                <div class="form-section">
                    <label for="password">Password</label>
                    <input type="password" name="password" />
                </div>
                <button class="buttons" type="submit">Login</button>
                <hr />
                <p>Don't have an account?</p>
                <a id="lLink" href="/register  " >Click here.</a>
            </form>
            <script src="/static/js/main.js"></script>
        </div>
    </body>
</html>
