<li align=center> 
<a href="/tv_power">        <button type="submit" name="TV_Power" value = "power1">
            <img src="/static/blue_tv.png" style="background-color: transparent;"/></button></a>
<a href="/tv_led_toggle">        <button type="submit" name="TV_LED" value = "power2">
                   <img src="/static/blue_tv_led_toggle.png" style="background-color: transparent;"/></button></a>
<a href="/tv_led_shuffle">        <button type="submit" name="TV_LED" value = "power2">
                   <img src="/static/yellow_tv_led.png" style="background-color: transparent;"/></button></a>
<a href="/Misc_1">        <button type="submit" name="power3" value = "power3">
                    <img src="/static/blue_bed.png" style="background-color: transparent;"/></button>
<a href="/Misc_2">        <button type="submit" name="Misc" value = "power3">
                    <img src="/static/play.png" style="background: transparent;" /></button>
<a href="/table_power_toggle">        <button type="submit" name="Table" value = "Table">
                    <img src="/static/table1.png" style="background-color: transparent;" /></button>
<a href="/Cube_power_toggle">        <button type="submit" name="Cube-Power" value = "Cube-Power">
                    <img src="/static/cube.png" style="background-color: transparent;" /></button>
<!-- <a href="home.html">        <button type="submit" name="Home" value = "power1">
            <img src="/static/home_icon_480.png" style="background-color: transparent;"/></button></a> -->
</li>
