<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <link rel="stylesheet" href="/static/css/themes/{{ theme }}.css" />
        <title>Settings</title>
    </head>
    <body>
        {% include 'sections/nav.html' %}
        <div class="main-container">
            <h1 class="pageTitle">Settings</h1>
            <hr />
            <form id="settings-form">
                <h3>Network</h3>
                <div>
                    <label>IP address:</label>
                    <input type="number"></input>
                </div>
                <div>
                    <label>Port:</label>
                    <input type="number"></input>
                </div>
                <h3>Personalisation</h3>
                <div>
                    <label>Theme:</label>
                </div>
            </form>
        </div>
    </body>
</html>
