<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <link rel="stylesheet" href="/static/css/themes/{{ theme }}.css" />
        <title>Web Remote (Flask)</title>
    </head>
    <body>
        {% include 'sections/nav.html' %}
        <form id="create_account_form" class="login-form" action="#" method="post">
            <h1 id="form-header">Create an account</h1>
            <hr />
            <div class="form-section">
                  <label for="username">Username</label>
                  <input type="text" name="username" />
            </div>
            <div class="form-section">
                  <label for="username">E-Mail</label>
                  <p style="display:inline">(Optional)</p>
                  <input type="text" name="email" />
            </div>
            <div class="form-section">
                  <label for="password">Password</label>
                  <input type="password" name="password" />
            </div>
            <div class="form-section">
                  <label for="password">Confirm Password</label>
                  <input type="password" name="password_confirm" />
            </div>
            <button class="buttons" type="submit">Create Account</button>
            <hr />
            <p>Already have an account?</p>
            <a id="cALink" href="/login"> Click Here.</a>
        </form>
        <script src="/static/js/main.js"></script>
    </body>
</html>
